@tailwind base;
@tailwind components;
@tailwind utilities;


.notepadBg {
  background-image: url('../src/assets/notepadbg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}